name: CI

on:
  push:
  pull_request:

jobs:
  build-test-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.8"

      - name: Install dependencies
        run: bun install

      - name: Build, tests et coverage (>=80%)
        run: bun run ci

